[submodule "googletest"]
	path = googletest
	url = https://github.com/google/googletest.git
[submodule "external/protobuf"]
	path = external/protobuf
	url = https://github.com/protocolbuffers/protobuf.git
